<%- include('../partials/header') %>

<div class="dashboard-header">
    <h2 class="page-title">Student Dashboard</h2>
    <span class="badge" style="background-color: var(--gray-300); display:inline-block; color: var(--dark); padding: 0.6rem 1.2rem; border-radius: 20px; font-size: 0.9rem;">Total Solved: 0 / <%= problems.length %></span>
</div>

<div class="card">
    <div class="card-header">
        <span>Available Problems</span>
    </div>
    <div class="card-body" style="padding: 0;">
        <div class="table-responsive" style="border: none; border-radius: 0;">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Problem Name</th>
                        <th>Difficulty</th>
                        <th style="text-align: right;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(problems && problems.length>0) { %>
                        <% problems.forEach((p) => { %>
                            <tr>
                                <td class="text-muted"><%= p.problem_id %></td>
                                <td class="fw-bold"><%= p.title %></td>
                                <td><span class="badge <%= p.difficulty.toLowerCase() %>""><%= p.difficulty %></span></td>
                                <td class="actions-cell">
                                    <a href="/student/problem/<%= p.problem_id %>" class="btn btn-outline btn-sm">Solve Question</a>
                                </td>
                            </tr>
                        <% }); %>

                    <% } else { %>
                        <tr>
                            <td colspan="4">Nothing to Do</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>